In [2]:
pip install pymysql
pip install ipython-sql
pip install mysqlclient

SyntaxError: invalid syntax (3078888514.py, line 1)

In [15]:
import os
import pymysql
import pandas as pd

host = os.getenv('localhost')

conn = pymysql.connect(
    host=host,
    port=int(3306),
    user="Joseph",
    passwd="decommer4",
    db="running")

df = pd.read_sql_query("SELECT * FROM runData LIMIT 10",
    conn)
df.tail(10)

/var/folders/1t/39ycl0rs77sc_rbnztkmmq480000gn/T/ipykernel_8454/538590053.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM runData LIMIT 10",

   id        day  month  dom  year avg_pace  distance Duration  est_calories
0   1     Friday  March    5  2010   8`13``      2.69    22:08           334
1   2     Sunday  March    7  2010  10`56``      3.04    33:13           377
2   3     Monday  March    8  2010   7`00``      2.64    18:32           328
3   4  Wednesday  March   10  2010   7`29``      4.36    32:40           541
4   5     Friday  March   12  2010   7`33``      4.13    31:10           512
5   6     Monday  March   15  2010   7`49``      3.98    31:12           494
6   7    Tuesday  March   16  2010   8`36``      5.01    43:05           621
7   8  Wednesday  March   17  2010   7`17``      4.44    32:21           551
8   9     Friday  March   19  2010   7`16``      4.49    32:39           557
9  10     Monday  March   22  2010   7`31``      4.40    33:04           546